.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid_homepage{


  display: grid;
  width: 80%;
  margin:auto;
  margin-top: 20px;

 
  

  grid-template-columns: repeat(3,1fr);

}

.grid_homepage>div>div{

  width: 100%;


}

.grid_homepage>div>div>img{

width:100%;  
height:400px;
object-fit: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

}
.grid_homepage>div{
  text-align: center;
  border-radius: 10px;
 
  margin: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  
}

.grid_homepage h3{
  text-transform: uppercase;
}



/* CSS */
.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-left: 15px;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.filter_div{
  display: block;
  margin-top:20px
}

.select_tag,.input_tag{

  margin-left: 20px;
  padding:5px 50px;
  border: 2px solid rgb(10,102,194);
  border-radius: 10px;
}

.flexbox{
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  /* justify-content: space-between; */
border-radius: 10px;
height:400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.imagebox{
  width: 50%;
  height:100%;
}

.imagebox>img{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width:100%;
  height:100%;
  object-fit: cover;
}
.flexbox>:nth-child(2){
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  text-align:left;
  margin-left: 70px;
}

.flexbox h5,h2,h4{
  text-transform: uppercase;
}

.flexbox h2{
  color:crimson;
}

.form_input{
  margin:10px;
}

.form_div{
  margin: auto;
  margin-top:200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width:40%;


}

.btn_margin{
  margin-top:15px;
  

}
